{% extends 'starwarsbase.html' %}
{% load bootstrap %}

{% block title %}Edit Serie{% endblock %}

{% block content %}
<div class="card" style="width: 32rem;">
    <div class="card-bodycreatesw"><br>
      <h5 class="card-titlecreatesw">Serie Info</h5>
      <form method="post", enctype="multipart/form-data">
        {% csrf_token %}
        {{form|bootstrap}}
        <br>
        <button type="submit" class="btn btn-success">Edit Serie</button>
    </form>
    </div>
</div>
<a href="{% url 'starwars_series' %}">Back to Series</a>
{% endblock %}