{% extends 'marvelbase.html' %}

{% block title %}Marvel Movies{% endblock %}

{% block content %}
{% if user.is_authenticated %}
Hello <strong>{{user.username}}</strong>!<br>
<a href="{% url 'logout' %}">Logout </a>
{% else %}
<a href="{% url 'login' %}">Login </a>
{% endif %}



<hr>
<button type="button" class="btn btn-danger"><a href="/marvel" class="mbutton">Back to Main Site</a></button><br><br>
<button type="submit" class="btn btn-danger"><a href="{% url 'new_marvel_movie' %}" class="mbutton">New Movie
</a></button><br><br>
{% if movies|length == 0 %}
<h1>No movies</h1><br>
{% else %}

<h1>MOVIES</h1>

{% for movie in movies %}
<div class="card" style="width: 34rem;">
    <div class="card-bodym">
        <img src="/media/{{movie.poster}}" class="movie-poster-card">
        <div class="row">
            <div class="col-9">
                <h5 class="card-titlem">{{movie}}</h5>
            </div>
            </div>
            <div class="row">
                <p class="card-text_descriptionm">{{movie.description}}</p>
                <div class="col-3">
                    <button type="submit" class="btn btn-danger buttonm"><a href="{% url 'edit_marvel_movie' movie.id %}"><i
                        class="fa-solid fa-pen movie-icon col-4"></i></a></button>
                    <button type="submit" class="btn btn-danger buttonm"><a href="{% url 'delete_marvel_movie' movie.id %}"><i
                        class="fa-solid fa-trash-can movie-icon col-4"></i></a></button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}