{% extends 'marvelbase.html' %}
{% load bootstrap %}


{% block title %}New Serie{% endblock %}

{% block content %}    
<div class="card" style="width: 32rem;">
    <div class="card-bodycreatem"><br>
      <h5 class="card-titlecreatem">Serie Info</h5>
      <form method="post", enctype="multipart/form-data">
        {% csrf_token %}
        {{form|bootstrap}}
        <br><button type="submit" class="btn btn-success">Add Serie</button>
    </form>
    </div>
</div>
<a href="{% url 'marvel_series' %}">Back to Series</a>
{% endblock %}