{% extends 'starwarsbase.html' %}

{% block title %}Star Wars Actors{% endblock %}

{% block content %}
{% if user.is_authenticated %}
Hello <strong>{{user.username}}</strong>!<br>
<a href="{% url 'logout' %}">Logout </a>
{% else %}
<a href="{% url 'login' %}">Login </a>
{% endif %}



<hr>
<button type="button" class="btn btn-dark"><a href="/starwars" class="swbutton">Back to Main Site</a></button><br><br>
<button type="submit" class="btn btn-dark"><a href="{% url 'new_starwars_actor' %}" class="swbutton">New Actor
</a></button><br><br>
{% if actors|length == 0 %}
<h1>No actors</h1><br>
{% else %}

<h1>ACTORS</h1>

{% for actor in actors %}
<div class="card" style="width: 34rem;">
    <div class="card-bodysw">
        <img src="/media/{{actor.photo}}" class="movie-poster-card">
        <div class="row">
            <div class="col-9">
                <h5 class="card-titlesw">{{actor}} ({{actor.age}})</h5>
            </div>
            </div>
            <div class="row">
                <p class="card-text_descriptionmcharactersw">{{actor.character}}</p>
                <p class="card-text_descriptionsw">{{actor.movies}}</p>
                <div class="col-3">
                    <button type="submit" class="btn btn-danger buttonsw"><a href="{% url 'edit_starwars_actor' actor.id %}"><i
                        class="fa-solid fa-pen movie-icon col-4"></i></a></button>
                    <button type="submit" class="btn btn-danger buttonsw"><a href="{% url 'delete_starwars_actor' actor.id %}"><i
                        class="fa-solid fa-trash-can movie-icon col-4"></i></a></button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}