{% extends 'starwarsbase.html' %}

{% block title %}Star Wars Series{% endblock %}

{% block content %}
{% if user.is_authenticated %}
Hello {{user.username}}!<br>
<a href="{% url 'logout' %}">Logout </a>
{% else %}
<a href="{% url 'login' %}">Login </a>
{% endif %}



<hr>
<button type="button" class="btn btn-dark"><a href="/starwars" class="swbutton">Back to Main Site</a></button><br><br>
<button type="submit" class="btn btn-dark"><a href="{% url 'new_starwars_serie' %}" class="swbutton">New Serie 
</a></button><br><br>
{% if series|length == 0 %}
<h1>No series</h1><br>
{% else %}

<h1>SERIES</h1>

{% for serie in series %}
<div class="card" style="width: 34rem;">
    <div class="card-bodysw">
        <img src="/media/{{serie.poster}}" class="movie-poster-card">
        <div class="row">
            <div class="col-9">
                <h5 class="card-titlesw">{{serie}}</h5>
            </div>
            </div>
            <div class="row">
                <p class="card-text_descriptionsw">{{serie.description}}</p>
                <div class="col-3">
                    <button type="submit" class="btn btn-danger buttonm"><a href="{% url 'edit_starwars_serie' serie.id %}"><i
                        class="fa-solid fa-pen movie-icon col-4"></i></a></button>
                    <button type="submit" class="btn btn-danger buttonm"><a href="{% url 'delete_starwars_serie' serie.id %}"><i
                        class="fa-solid fa-trash-can movie-icon col-4"></i></a></button>
                </div> 
            </div>   
            
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}